<div class="mainPage">
  <div class="logo infinite bounce delay-2s">
    <img id="logo" src="../assets/img/flower.png" alt="logo">
  </div>
  <div class="login">
    <!-- <input type="text" placeholder="Google Account"/>
    <input type="text" placeholder="Password"/> -->
    <hr>
    <div class="icons">
      <i id="goog"class="fab fa-google fa-2x"></i>
      <i routerLink="/keys" id="chev"class="fas fa-chevron-right fa-2x"></i>
    </div>
    <div id="sample">
      <h1 id="sample" class="animated infinite bounce delay-2s">Example</h1>
    </div>
  </div>
</div>
