.mainPage {
  background-color: black;
  // max-height: 100vh;
  height: 100vh;
  width: 100%;
  text-align: center;
  margin: auto;
  display: flex;
  flex-flow:column;
  align-items: center;
  align-content: center;
  .logo{
    display: flex;
    // justify-content: center;
    height: auto;
    margin: auto;
    align-items: center;
    img {
      width: 40vw;

      // height: inherit;

    }
  }
  input {
    background: transparent;
    border-color: transparent;
    text-align: center;
    border-bottom: 1px white solid;
    display: block;
    width: 400px;
    height: 30px;
    margin: 0 auto;
    padding: 10px;
    &::placeholder{
      color: grey;
    }
  }
  .login {
    text-align: center;
    hr{
      width: 40vw;
      border-color: #333;
      bottom: 150px;
      position: relative;
    }
    .icons{
      color: #333;
      bottom: 100px;
      position: relative;
      #goog{
        border-right: 1px solid #333;
        padding-right: 50px;
        // margin-left: -100px;
        // color: red;
      }
      #chev{
        margin-left: 50px;
      }
    }
  }
}


// media query for logo size
// img{height:12vh}
